<script src="../../public/jquery.min.js"></script>

<script src="../../public/jquery.cookie.js"></script>

<script src="../../public/socket.io.js"></script>

<input type="button" value="发送请求" id="send"/>


<script>

//    var socket = io('http://127.0.0.1:9090');
//
//
//    var csrftoken = $.cookie('csrfToken');
//
//    function csrfSafeMethod(method) {
//        // these HTTP methods do not require CSRF protection
//        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
//    }
//    $.ajaxSetup({
//        beforeSend: function (xhr, settings) {
//            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
//                xhr.setRequestHeader('x-csrf-token', csrftoken);
//            }
//        }
//    });
//
//    socket.on('connect',function () {
//        console.log(socket.id)
//    })
//    socket.on('message', function (data) {
//        console.log(data)
//    });
//

</script>
