{
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-console": [
            "error",
            {
                "allow": ["log", "info", "error"]
            }
        ],
        "guard-for-in": [
            "error"
        ],
        "strict": [
            "error",
            "global"
        ],
        "no-var": [
            "error"
        ],
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1
            }
        ],
        "space-before-blocks": [
          "error",
          "always"
        ],
        "no-trailing-spaces": [
          "error",
          {
            "skipBlankLines": true
          }
        ]
    },
    "globals":{
        "describe": true,
        "it": true
    }
}
