*{
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    overflow: hidden;

}

#index-wrap{
    position: relative;
}

.index-bar{
    width: 20px;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background: rgba(238, 238, 238, 0.7);
    opacity: 0.7;
    transition: all 0.3s ease-in-out 0s;

}

.index-bar.active{
    background: rgba(238, 238, 238, 1);
    box-shadow: -1px 0 8px #ccc;
}
.index-bar a{
    color: #666;
    display: block;
    text-align: center;
    width: 20px;
    font-size: 12px;
}
.index-bar a.active{
    color: 000;
    background: #999;
}
.index-current{
    position: absolute;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    color: #fff;
    display: none;
    -webkit-transition: .2s;
}

.index-current.active{
    display: block;
}
#index-content-box{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /*æ›´æ–°äºŽï¼š22:54 2017/3/27*/
}
#index-content-box::-webkit-scrollbar{
    display: none;
}

#index-content-box ul{
    position: relative;
}

#index-list-view .index-list-item{
    position: relative;
    padding: 8px 15px;
}

#index-list-view .index-list-item:after{
    content: " ";
    position: absolute;
    left: 15px;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #f1f1f1;
    color: #f1f1f1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.index-list-group{
    border-left: 3px solid #060;
    padding: 2px 12px;
    background: #f1f1f1;
    margin-top: -2px;
}